{
	"Carlos Walnut": "https://www.youtube.com/channel/UCC9jQr2TF_tz75WoXxYH27Q",
	"Derf Rebhert": "https://www.youtube.com/channel/UCOZTF-yrmKLxeej8EGW02pw",
	"TranquilDark180": "https://www.youtube.com/channel/UCBoXFKMaMo6YAHGET4XsjSA"
}
